:root {
    --maxLineLength: 56rem;
    font-family: "sofia pro light", ui-sans-serif, system-ui, sans-serif;
    color: white
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 100px;
}

#categories {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
}

#categories a {
    color: inherit;
    text-decoration: none;
}

#code {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 7px;
    border-radius: 15px;
    background-color: black;
    color: lime;
}

#code:hover {
    background-color: rgb(10, 10, 10);
}

body {
    background: linear-gradient(#150025, #240042);
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.transparent {
    opacity: 0.5;
}