canvas {
    position: absolute;
    width: 76%;
    height: 100%;
}

body {
    position: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    height: 100%;
}

#tps, #ticks {
    float: right;
}

#settings {
    overflow-y: auto;
    color: white;
    font-family: "sofia pro light", ui-sans-serif, system-ui, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 98%;
    background-color: midnightblue;
    padding: 2%;
}

#objectList {
    margin-top: 20px;
    margin-bottom: 20%;
    padding: 5px;
    border: 2px solid gray;
}

.object {
    overflow-x: clip;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.object:not(:last-child) {
    border-bottom: 2px solid gray;
}

.objectName {
    text-overflow: clip;
    display: inline-block;
    max-width: 70%;
    cursor: pointer;
    user-select: none;
}

.objectButtons {
    width: 20%;
    font-weight: bold;
    float: right;
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 5px;
}

.deleteObject {
    color: red;
}

.expandedMenu {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 2px solid blue;
}


#cameraSettings {
    margin-top: 20px;
}

.generalSlider {
    width: 70%;
}

.generalInput {
    width: 20%;
}

#customObjectSettings input {
    float: right;
}