body {
    overflow: hidden;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "sofia pro light", ui-sans-serif, system-ui, sans-serif;
}

#wrapper {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* @media (max-width: 1334px) {
    #bg {
        height: 100cqh;
        top: 0;
    }
}

@media (max-width: 888px) {
    #bg {
        height: 100%;
        top: 0;
        right: -50vw;
    }
}

@media (min-width: 1334px) {
    #bg {
        width: 150cqw;
        bottom: -10vh;
        left: -50vw;
    }
}
*/
#bg {
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

/* h1, h2 {
    position: absolute;
    transform: translate(-50%, -50%);
} */

#content {
    text-align: center;
    width: 100vw;
    margin: 0 auto;
}

@media (min-width:1350px) {
    #header {
        padding: 20px;
    }
    
    #content {
        width: 70vw;
    }
}

#header {
    border-bottom: 4px solid white;
    font-size: 100px;
    font-weight: bolder;
    text-wrap: nowrap;
}

#label {
    font-size: 67px;
    text-wrap: nowrap;
    margin-top: 150px;
    margin-bottom: 0;
}

#timeDescription span {
    font-size: 30px;
    margin-top: 0;
    opacity: 0.5;
    padding: 45px;
}

#timeDescription {
    text-wrap: nowrap;
}

#countdown {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 100px;
}

#flightTimeLine {
    margin-top: 100px;
    display: none;
}